@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Roboto;
  background: linear-gradient(to bottom, #005aa7, #fffde4) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: auto;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}
html {
  height: fill-available;
  height: -webkit-fill-available;
}


header {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-top: 3rem;
  color: #fafafa;
}
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#joke-box {
  padding-top: 3rem;
  width: 90%;
  text-align: center;
  color: #fafafa;
  font-size: 1.1rem;
}
#joke-setup {
  margin-bottom: 1.5rem;
}

#button {
  margin-top: 3rem;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}